Makefile
#metadata.json
icons
nuvola-app-yandex-radio
eu.tiliado.NuvolaAppYandexRadio.desktop
eu.tiliado.NuvolaAppYandexRadio.data.service
eu.tiliado.NuvolaAppYandexRadio.appdata.xml
yandex_radio.tar.gz
